@charset "utf-8";

@font-face {
    font-family: HDHarmony;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/HDHarmonyL.eot");
    src: local("HDHarmony"),
        url("../fonts/HDHarmonyL.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HDHarmonyL.woff2") format("woff2"),
        url("../fonts/HDHarmonyL.woff") format("woff"),
        url("../fonts/HDHarmonyL.ttf") format("truetype");
}
@font-face {
    font-family: HDHarmony;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/HDHarmonyM.eot");
    src: local("HDHarmony"),
        url("../fonts/HDHarmonyM.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HDHarmonyM.woff2") format("woff2"),
        url("../fonts/HDHarmonyM.woff") format("woff"),
        url("../fonts/HDHarmonyM.ttf") format("truetype");
}
@font-face {
    font-family: HDHarmony;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/HDHarmonyB.eot");
    src: local("HDHarmony"),
        url("../fonts/HDHarmonyB.eot?#iefix") format("embedded-opentype"),
        url("../fonts/HDHarmonyB.woff2") format("woff2"),
        url("../fonts/HDHarmonyB.woff") format("woff"),
        url("../fonts/HDHarmonyB.ttf") format("truetype");
}

/* tag reset */
body, h1, h2, h3, h4, h5, h6, p, ul, button{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit;color: inherit;}
img{border: none;vertical-align: top;}
header, nav, section, footer{display: block;}

body{background: #151515;font-family: HDHarmony, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif;font-size: 16px;color: #666;font-weight: 400;line-height: 1;letter-spacing: -0.6px;word-break: keep-all;}

/* common class */
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.d_f{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.blind{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.clearfix::after{content: "";display: block;clear: both;}
.font2{font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;}
.bdbox{box-sizing: border-box;}
.align_center{text-align: center;}
.color_white{color: #fff !important;}

/* skip */
#skip a{position: absolute;top: 0;left: -9999px;z-index: 1000;}
#skip a:focus{left: 0;width: 100%;text-align: center;height: 50px;line-height: 50px;background: #444;color: #fff;font-weight: 700;}

/* header */
#header{position: fixed;top: 0;left: 0;width: 100%;height: 90px;padding: 0 80px;-webkit-transition: background 0.5s;-moz-transition: background 0.5s;-o-transition: background 0.5s;transition: background 0.5s;z-index: 900;flex-direction: row;justify-content: space-between;}
#header.bgchange{background: #000;}
.logo{padding-top: 25px;}
.util{margin-top: 20px; align-items: center;height: 50px;}
.util > a{position: relative;z-index: 10;font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;font-size: 18px;font-weight: 700;color: #fff;}
.util > a:first-child{margin: 0 10px;}
.util > a:nth-child(2), .util > a:nth-child(3){margin: 0 20px;}
.btn_all{width: 50px;height: 50px;border: 1px solid rgba(255, 255, 255, .25);background: url("../images/common/icon-gnb.png") no-repeat center;border-radius: 50%;}
.btn_all.close{background-image: url("../images/common/icon-gnbClose.png");}
.btn_all.close:hover, .btn_all.close:focus{background-image: url("../images/common/icon-gnbClose-over.png");}
.circle_wrap{position: relative;}
.circle_wrap .circle{position: absolute;top: -1px;left: -1px;transform: rotate(-90deg);}
.circle_wrap .circle.circle50{width: 50px;height: 50px;}
.circle_wrap .circle.circle50 circle{stroke-dasharray: 150;stroke-dashoffset: 150;}
.circle_wrap:hover .circle.circle50 circle, .circle_wrap:focus .circle.circle50 circle{animation: svgAni150 0.5s linear forwards;}
.circle_wrap .circle.circle62{width: 62px;height: 62px;}
.circle_wrap .circle.circle62 circle{stroke-dasharray: 189;stroke-dashoffset: 189;}
.circle_wrap .circle circle{stroke-width: 2;fill: none;}
.circle_wrap:hover .circle.circle62 circle, .circle_wrap:focus .circle.circle62 circle{animation: svgAni189 0.5s linear forwards;}

@keyframes svgAni150 {
0%{stroke-dashoffset: 150;}
100%{stroke-dashoffset: 0;}
}
@keyframes svgAni189 {
0%{stroke-dashoffset: 189;}
100%{stroke-dashoffset: 0;}
}

#gnb, .gnb_bg{position: fixed;}
#gnb{visibility: hidden;opacity: 0;z-index: 5;top: 150px;right: 0;width: 100%;height: 100%;}
#gnb > ul{position: absolute;top: 10.41666666666667vw;right: 0;width: 1220px;flex-direction: row;justify-content: flex-end;flex-wrap: wrap;}/* top: 200px; */
#gnb > ul > li{width: 400px;box-sizing: border-box;padding: 0 40px 80px 0;}
#gnb > ul > li > a{font-weight: 700;font-size: 28px;color: #fff;}
#gnb ul li ul{padding-top: 18px;}
#gnb ul li ul li{padding-top: 20px;font-family: "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;font-size: 18px;color: #b4b4b4;}
#gnb ul li ul li a{position: relative;}
#gnb ul li ul li a::after{content: "";position: absolute;left: 0;bottom: -4px;width: 0;height: 2px;background: linear-gradient(to right, #ff8933, #ea2e2e);transition: width 0.5s;}
#gnb ul li ul li a:hover::after, #gnb ul li ul li a:focus::after{width: 100%;}
.gnb_bg{background: #24292d;top: 48px;right: 307px;width: 1px;height: 1px;border-radius: 50%;transition: all 0.5s;}
#gnb.active + .gnb_bg{top: -1030px;right: -630px;width: 2200px;height: 2200px;background: #24292d;border-radius: 870px;}
.util > a:last-child{width: 180px;height: 50px;line-height: 50px;border-radius: 60px;background: #fff;color: #222;text-align: center;}
.util > a:last-child:hover, .util > a:last-child:focus{background: linear-gradient(to right, #ff8933, #ea2e2e);color: #fff;}

/* footer */
#footer{position: relative;padding: 50px 80px;background: #000;color: #999;}
.foot_link li{position: relative;}
.foot_link li + li{padding-left: 25px;}
.foot_link li + li::before{content: "";position: absolute;top: 0;left: 12px;width: 1px;height: 100%;background: #444;}
.foot_right{top: 0;right: 0;}
.family{font-size: 18px;color: #222;}
.family .btn_fopen{width: 220px;height: 50px;box-sizing: border-box;border: 1px solid #676767;color: #fff;line-height: 48px;padding: 0 15px;}
.family .btn_fopen::after{content: "";position: absolute;right: 15px;top: 50%;transform: translateY(-50%);border-top: 8px solid #fff;border-left: 6px solid transparent;border-right: 6px solid transparent;}
.family .btn_go{width: 100px;height: 50px;background: #fff;text-align: center;line-height: 50px;}
.family .btn_go:hover, .foot_right .btn_go:focus{background: linear-gradient(to right, #ff8933, #ea2e2e);color: #fff;}
.family ul{display: none;position: absolute;top: 50px;left: 0;width: 309px;background: #fff;line-height: 35px;border: 1px solid #222;box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);}
.family ul li a{display: block;padding-left: 15px;}
.family ul li a:hover, .family ul li a:focus{background: #3f3ffa;color: #fff;}
.sns{justify-content: flex-end;align-items: center;padding-top: 20px;}
.sns li{margin-left: 25px;font-size: 24px;}
.address{margin-top: 35px;width: 80%;}
.address div, .address div p{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.address div{margin-bottom: 10px;}
.address div h3{width: 200px;}
.address div:nth-of-type(3) h3{font-size: 14px;}
.address div p{width: calc(100% - 200px);font-size: 14px;line-height: 24px;flex-wrap: wrap;}
.address div p span{margin-right: 20px;}
.copy{padding-top: 14px;font-size: 14px;}

.btn_top{right: 0;bottom: 0;width: 80px;height: 80px;background: #23272a url("../images/common/btnTop-img.png") no-repeat 50% 21px;line-height: 102px;text-align: center;color: #fff !important;}