@charset "utf-8";

@font-face {
    font-family: 'KoPubWorldDotum';
    src: url(../fonts/KoPubWorldDotumBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
  font-family: 'KoPubWorldDotum';
  src: url(../fonts/KoPubWorldDotumMedium.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KoPubWorldDotum';
  src: url(../fonts/KoPubWorldDotumLight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

/* tag reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li, button, dl, dd, dt{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
address, em, i{font-style: normal;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
button{border: none; background: none; cursor: pointer; font-family: inherit; font-size: inherit; color: inherit;}
img{border: none; vertical-align: top;}
header, nav, section, footer{display: block;}

body{font-family: 'KoPubWorldDotum', sans-serif; color: #333; font-weight: 400; line-height: 1; word-break: keep-all;}

#skip a{position: absolute; top: 0; left: -1000px; z-index: 1000;}
#skip a:focus{left: 0; width: 100%; height: 50px; line-height: 50px; background: #000; color: #fff; text-align: center;}

.blind{position: absolute; width: 1px; height: 1px; overflow: hidden; border: none; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
.clearfix::after{content: ""; clear: both; display: block;}
.hidden{visibility: hidden;}
